@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h3 class="display-4"></h3>
    <br/>
    <br/>
    <br/>
    <h1>Добро пожаловать на главную страницу приложения!</h1>
    <h4>Для навигации воспользуйтесь меню сверху</h4>
</div>
